.Wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4F7CAD;
}

.Calc {
  min-width: 420px;
  border: 1px solid #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
